extends layout

block content
  .w3-container
    h1 Inserção de um filme
    form.w3-container(action="/filmes" method="POST")
        label Titulo:
        input.w3-input(type="text", name="title")
        label Ano:
        input.w3-input(type="text", name="year")
        label Actor:
        input.w3-input(type="text", name="cast")
        label Genero:
        input.w3-input(type="text", name="genres")
        input.w3-input(type="submit" value="Enviar")
        