extends layout

block content
  .w3-container
    h1 Gestão de Filmes
    ul.w3-ul
      li 
        a(href="http://localhost:3006/filmes") Listar Filmes
      li
        a(href="http://localhost:3006/filmes/inserir") Inserir Filme