extends layout
block content
    .w3-container
        h1 Lista de actores
        table.w3-table-all
            tr
                th Nome
                th Numero de participações
                th Opções
                each actor in lista
                    tr
                        td= actor._id
                        td= actor.numFilmes
                        td
                            form.w3-container(action=`/actores/${actor._id}` method='get')
                                input.w3-btn.w3-border.w3-blue-grey(type='submit' value='Ver Actor')
                        td
                            button.w3-button.w3-circle.w3-blue-grey(onclick="apagarActor('"+ actor._id +"')") Apagar
    footer.w3-container.w3-teal
        address Gerado por Gestao de Filmes App:
            a(href='/')  Voltar