doctype html
html
  head
    title Gestão de Alunos
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' ,href='https://www.w3schools.com/w3css/4/w3.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/javascripts/apagar.js')
    script(src='/javascripts/apagaNota.js')
  body
    block content
